.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: cornflowerblue;
  color: white;



 
}
.navLinks {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content:center;
  margin-top:10px;
  list-style: none;
  flex-wrap: nowrap;
  font-size: 1rem;
      font-family: 'Alatsi', sans-serif;
}
